:root {
    --Interactive-Negative: #fff;
    --Gray-Border: #cfd6dd;
    --Interactive-Default: #4c3eff;
    --Background-Light-Gray: #f3f5f7;
    --Background-Dark-Blue: #080e3f;
    --text-icons-primary: #000;
    --text-icons-labels: #9ea6ae;
}